body{
	font-family: 'Ubuntu', sans-serif;
	color: #201b2d;
	margin: 0;
	padding: 0;
	overflow-x:hidden; 
}
div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}
h1, h2, h3 {
	font-weight: 900;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.header {
	background: rgba(78,192,254,1);
    background: -moz-linear-gradient(-45deg, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(78,192,254,1)), color-stop(100%, rgba(55,144,217,1)));
    background: -webkit-linear-gradient(-45deg, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
    background: linear-gradient(135deg, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ec0fe', endColorstr='#3790d9', GradientType=1 );
    padding: 70px 0 70px;
}

.wrapper{
	display: flex;
	justify-content: space-between;
}

.offer {
	margin-top: 130px;
}

figure {
	margin: 0;
	width: 100%;
}

figure img {
	width: 100%;
}


.header-title {
	font-size: 37px;
	color: #fff;
    line-height: 1.324;
    width: 565px;
	margin: 0;
}

.header-title span {
	font-size: 57px;
}

.header-text {
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
	color: #fff;
	line-height: 1.688;
	width: 400px;
	margin: 20px 0 37px;

}

.btn {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: #2e2a1b;
	line-height: 1.667;
	font-weight: 900;
	text-decoration: none;
	background: #ffd429;
	display: block;
	width: 220px;
	padding: 15px 0;
	text-align: center;
	transition: all 0.5s ease;
}

.btn:hover {
	background: #edc527;
}


.main {
	margin: 110px 0;
}

.section-title {
	font-size: 30px;
	font-family: "Ubuntu";
	font-weight: 900;
	line-height: 0.833;
	text-align: center;
	margin-bottom: 70px;
}

.advantage {
	width: 305px;
	background: url(../img/icon1.jpg) no-repeat center top;
	padding-top: 70px;
}

.advantage-title {
	font-size: 19px;
	line-height: 1.316;
	text-align: center;
}

.advantage-text {
	font-size: 15px;
	text-align: center;
	line-height: 1.467;
}

.advantage-travel {
	background: url(../img/icon2.jpg) no-repeat center top;
}

.advantage-value {
	background: url(../img/icon3.jpg) no-repeat center top;
}

.title-form {
	margin: 0 auto 50px;
}

.mail {
	background: #ecf3f8;
	padding: 100px 0;
}


.input {
	font-size: 15px;
	line-height: 1.667;
	color: #85828c;
	padding-left: 25px;
	width: 345px;
	height: 46px;
	border: 1px solid #bbbbbb;
	display: block;
	margin: 0 auto 15px;

}

.btn-form {
	border: 0;
	cursor: pointer;
	width: 345px; 
	margin: 0 auto;
}

footer {
	background: #164d7a;
	padding: 60px 0;
}

.footer-text {
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	color: #fff;
	line-height: 1.786;
	text-align: center;
	margin: 0;
}

.animated {
	opacity: 0;
}


/*Responsive*/

/*992px-1200px*/
@media screen and (max-width: 1200px) {
	.container {
		width: 960px;
	}
}

/*768px-992px*/
@media screen and (max-width: 992px) {
	.container {
		width: 720px;
	}
	.header {
		padding: 60px 0 0;
	}
	.logo {
		text-align: center;
	}
	.wrapper {
		flex-direction: column;
	}
	.offer {
	    margin-top: 60px;
	}
	.header-title {
		width: 100%;
    	text-align: center;
	}
	.header-text {
		width: 100%;
    	text-align: center;
	}
	.btn {
		margin: 0 auto;
	}
	figure {
		width: 640px;
		margin: 0 auto;
	}
	.main{
		margin: 90px 0; 
	}
	.advantage {
		width: auto;
	}
	.advantage-text br {
		display: none;
	}
	.mail{
		padding: 90px 0; 
	}
	footer {
		padding: 40px 0;
	}

}

/*576px-768px*/
@media screen and (max-width: 768px) {
	.container {
		width: 540px;
	}
	figure {
		width: 100%;
	}
	.header-btn {
		width: 100%;
	}

}

/*0px-576px*/
@media screen and (max-width: 576px) {
	.container {
		width: 90%;
	}
	.header {
		padding: 40px 0 0;
	}
	.offer {
	    margin-top: 40px;
	}
	.header-title {
		font-size: 28px;
	}
	.main{
		margin: 70px 0;
	}
	.input {
		width: 100%;
	}
	.btn {
		width: 100%;
	}
	.footer-text {
		font-size: 10px;
	}
	footer {
		padding: 20px 0;
	}
}